{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}About Us{{ block.super }}{% endblock %}

{% block content %}
<body id="top" class="scrollspy">



            <div class="col s12 m15">
                <div class="card-panel">

                   <span  style="font-size: 30pt; font-weight: lighter;">
                        About Us
                    </span>

                <font size="3.0">

<p>
Easyreturns.tax is a full income tax consulting firm offering tax return preparation, tax planning and tax compliance.
<br><br>
With over 18 years of experience we have evolved as a synonym of trust
and quality in chartered accountancy services.We have spread across diversified industrial
segments ranging from all nooks and corners.We focus on value addition to services as well
as value added to client business aiming utmost client satisfaction.
Our strategic thinking and clear approach, helping our clients
to optimize their operational and business potential,
creating sustainable value thereby enduring relationships.

<br><br>For any further questions,you may simply call us at
    <strong>+91 9839478950 / 7710980947 </strong> or send an email to
    <strong><a>easyreturns.tax@gmail.com</a></strong>
    , so that one of our Tax Experts can contact you and
    advice on various tax saving tools applicable to you.
</p>
        </font>
    </div>
</div>

</body>
{% endblock %}


