{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}FAQs{{ block.super }}{% endblock %}

{% block content %}
<body id="top" class="scrollspy">

            <div class="col s12 m15">
                <div class="card-panel">

                   <span  style="font-size: 30pt; font-weight: lighter;">
                        Frequently Asked Questions
                    </span>

                <font size="3.0">
                    <br><br>
                    <strong>1.&emsp;When will my income tax return will be file?</strong>
                    <p>Our income tax filing process is very fast.
                    Your income tax return will be filed in 24 hours after you complete the payment.</p>
                    <br>

                    <strong>2.&emsp;How will I know that my income tax return has been filed?</strong>
                    <p>We will send you an email as soon as your income tax return has been filed. </p>
                    <br>

                    <strong>3.&emsp;I am unable to change my PAN details.How do i do it?</strong>
                    <p>At easyreturns.tax we take the security of our customers as our prime concern.
                        Hence, we do not allow the change of our customer's pan details.
                        However if for reasons you may have written your pan details wrong
                        and want to change it, please write an email to us for the same.
                        We will verify the PAN and then change it on our system.</p>
                    <br>

                    <strong>4.&emsp;How do I file my income tax return on easyreturns.tax?</strong>
                    <p>The income tax filing process on easyreturns.tax is very simple.
                        Simply sign up for an account.
                        Enter your PAN details and upload your form 16 and pay.
                        Your income tax return will be filed  24 hours.</p>
                    <br>

                    <strong>5.&emsp;Why do you want my PAN details?</strong>
                    <p>We require your PAN details to file your income tax return.
                        We have our dedicated portal where we enter the details provided by you
                        and our experienced chartered accountants file your income tax return.</p>
                    <br>

                <p>
                    For any further questions, you may simply call us at
                    <strong>+91 9839478950 / 7710980947 </strong> or send an email to
                    <strong><a>easyreturns.tax@gmail.com</a></strong>, so that one of our
                    Tax Experts can contact you and
                    advice on various tax saving tools applicable to you.
                </p>
            </font>
        </div>
    </div>
</body>
{% endblock %}


