{% extends "base.html" %}
{% load i18n %}


{% block title %}Reset{{ block.super }}{% endblock %}

{% block content %}

<div class="card">

    <div class="card-content">
        <span style="font-size: 25pt; font-weight: lighter">Reset Password</span><br>
            <form method="post" action="." class="col s12">{% csrf_token %}

                    <div class="row">

                    <div class="input-field col s12">
                        <i class="material-icons prefix">email</i>
                        <input id="icon_erst" name="email" type="email" class="validate black-text" required >
                        <label  for="icon_erst" class="black-text">Email</label>
                    </div>

                    </div>

                    <input class='btn btn-block btn-primary' type="submit" value="{% trans 'Submit' %}" />

            </form>
<br>
    </div>

</div>

{% endblock %}
