{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Successful{{ block.super }}{% endblock %}

{% block content %}

    <div class="card">
        <div class="card-content">
            <span  style="font-size: 20pt; font-weight: lighter;">
                Transaction Successful
                <br>
                <p>We guarantee to file your income tax return under 24 hours</p>
                <p>In case of any query you can contact us at
                <a href="#" >easyreturns.tax@gmail.com</a> </p>

            </span>

        </div>
    </div>

{% endblock %}